#!/usr/bin/make -f
# SPDX-FileCopyrightText: Samsung Electronics Co., Ltd
#
# SPDX-License-Identifier: BSD-3-Clause
%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- -Dhardening=true -Dwith-spdk=false -Dwith-liburing=enabled -Dwith-libaio=enabled -Dwith-libvfn=disabled -Dtests=false -Dexamples=false
